@media  screen and (max-width: 450px) {
    .header {
        display: grid;
        grid-template-columns: 15px 500px;
        grid-template-rows: 50px;
        height: 50px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(2, 26, 51);
        position: fixed;
        top: 0;
        margin-bottom: 0;
        cursor: pointer;
    }
    .container {
        background-color: white;
        display: block;
        width: 100%;
    }
    body, html {
        padding: 0;
        margin: 0;
        /* width: 100%; */
    }

    
    h1 {
        line-height: 50px;
        margin-left: 100px;
        margin-top: 5px;
        color: #14CABD;
        
    }
    .phrase {
        margin-top: 50px;
        padding: 5px 5px;
        height: 220px;
    }
    .trending {
        column-gap: 20px;
    }
    .image {
        width: 145px;
        height: 173px;
        font-size: 8px;
        font-weight: 600;
        padding: 5px 0 0 0;
        text-align: center;
        border-radius: 5px;
       
    }
    .image img {
        width: 80px;
        height: 100px;

    }
    .watch img {
        width: 15px;
    }
    .watch button {
        width: 120px;
        height: 23px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .about {
    background-color: white;
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.us {
    width: fit-content;
    text-align: center;
    color: black;
}
.contact> .logo {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.footer {
    color: var(--white-hero-sub);
    padding-left: 20px;
}
    h5 {
        font-size: 20px;
    }
    .main-dropdown-content .list {
        display: grid;

    }
    .main-dropdown-content {
        display: inline-block;
        display: grid;
        padding: 8px;
        z-index: 1;
        position: relative;
    }
    .main-dropdown {
        display: none;
        position: absolute;
        background-color: black;
        width: 200px;
        height: 500px;
        line-height: 40px;
        color: #f9f9f9;
        font-size: 20px;
    }
    .main-dropdown-content:hover .main-dropdown{
        display: block;
        /* background-color: white; */
        text-align: center;
    }
    @media screen and (max-width:370px) {
        .image {
            width: 160px;
            padding: 5px 13px;
            border-radius: 5px;
        }
        body,html {
            width: 100%;
        }
        .container {
            width: 100%;
        }
    }
   
}